<fieldset>
    <legend>{{ legend }}</legend>
    {{#each fields}}
        {{{ this }}}
    {{/each}}
    {{{ button }}}
    <div>
        <a href="{{ rout }}">{{ routText }}</a> 
    </div>
</fieldset>