<form>
    <fieldset>
        <legend>Регистрация</legend>
        <div>
            {{{ labelEmail }}}
            {{{ inputEmail }}}
        </div>
        <div>
            {{{ labelPassword }}}
            {{{ inputPassword }}}
        </div>
        <div>
            {{{ button }}}
        </div>  
        <div>
            <a href="/login">Войти</a> 
        </div>
    </fieldset>
</form>